@font-face {font-family:FredokaOne; src:url(fonts/FredokaOne-Regular.ttf);}

:root {
  font-family:FredokaOne;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin:0px; padding:0px; vertical-align:top;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	user-select: none;
}

a {
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family:FredokaOne;
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

li {text-decoration:none; list-style:none;vertical-align:top;}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pixiBlock{
  position: relative;
  overflow: hidden;
}

.game-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  padding: 8px 8px;
  margin: 0px 0px 16px 0px;
  border-radius: 25px;
  border: 2px solid #ff9034;
  text-align: center;
  color: #361902;
  background: #FED7B7;
  -webkit-box-shadow: 0px 5px 0px -2px #FF9034;
  -moz-box-shadow: 0px 5px 0px -2px #FF9034;
  box-shadow: 0px 5px 0px -2px #FF9034;
}

.game-btn:hover{
  background: #fcc69a;
}
.game-btn:active{
  -webkit-box-shadow: 0px 5px 0px -4px #FF9034;
  -moz-box-shadow: 0px 5px 0px -4px #FF9034;
  box-shadow: 0px 5px 0px -4px #FF9034;
}

.text{
  font-size: 18px;
}

.game-score-block {
  display: flex;
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.game-score-block .panel {
  position: relative;
  display: flex;
  padding: 20px 0px;
  color: #1a1a1a;
  width: 300px;
  border-radius: 50px;
  background: rgb(254,215,183);
  background: linear-gradient(0deg, rgba(254,215,183,1) 0%, rgba(254,215,183,1) 100%);
  align-items: center;
  justify-content: center;
  border: 2px solid #ff9034;
  -webkit-box-shadow: 0px 5px 0px -2px #FF9034;
  -moz-box-shadow: 0px 5px 0px -2px #FF9034;
  box-shadow: 0px 5px 0px -2px #FF9034;
  z-index: 12;
}
.game-score-block .mini-panel {
  display: flex;
  padding: 10px 10px;
  border-radius: 30px;
  width: 180px;
  border: 2px solid #ff9034;
  background: #fff;
  justify-content: space-around;
  align-items: center;
}
.game-score-block .mini-panel span img{
  height: 22px;
}

.game-score-block .clouds {
  position: absolute;
  z-index: 10;
}

.game-score-block .clouds.one {
  top: 0px;
  left: 79px;
}

.game-score-block .clouds.two {
  top: 0px;
  left: -245px;
}

.game-score-block .game-btn {
  position: absolute;
  top: -20px;
  right: 14px;
  z-index: 10;
  font-size: 28px;
  padding: 0px 0px;
  width: 54px;
}