<template>
  <div id="pixiBlock">
    <div class="game-score-block">
      <div class="panel"> <div class="mini-panel">
        <span><img src="/images/icon_baloon.png"> : {{ count }}</span>
        /
        <span><img src="/images/icon_star.png"> : {{ pageCount }}</span>
      </div></div>
      <img class="clouds one" src="/images/clouds_1.png">
      <img class="clouds two" src="/images/clouds_2.png">
      <router-link to="/" class="game-btn">☭</router-link>
    </div>
  </div>
</template>

<script lang="ts">
  import { computed, onUnmounted, onMounted } from 'vue'
  import { useStore } from 'vuex'
  import Game from '../game'
  const ballonGame = new Game('#pixiBlock');
  
  export default {
    setup () {
      const store = useStore()
      const pageCount = parseInt(localStorage.getItem('pageCouner') ?? '0')
      const count = computed(() => store.state.count)
      const incrementCount = () => store.dispatch('incrementCount')

      onMounted(()=>{
        ballonGame.onScoreChange((points:number)=>{
          store.dispatch('incrementCount',points)
        }) 

        ballonGame.init().then(()=>{
          ballonGame.play()
        })
      })

      onUnmounted(()=>{
        ballonGame.stop()
      })

      return {pageCount,count,incrementCount}
    }
  }
</script>