<template>
  <div class="text"> Страница, для воли автора :) 
    <br>может что-то и не очень вышло, Но...
    <br>Если возникли вопросы или непонимания почему так выполнено, смело спрашивайте!! 
    <br>Возможно это не просто так ;) </div>
  <br>
  <router-link to="/" class="game-btn">main</router-link>
  <div> HW PROJECT </div>
</template>