<template>
  <nav class="main-menu">
    <ul>
      <li><router-link to="/" class="game-btn">Main</router-link></li>
      <li><router-link to="/game" class="game-btn">Game</router-link></li>
      <li><router-link to="/info" class="game-btn">info</router-link></li>
    </ul>
  </nav>
</template>